/* Estilos para la pagina del café */

/* Selector Universal */

*{
    padding: 0;
    margin: 0;
}

/* Selector de etiqueta */

body{
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Selector de clase */

.menu-aside{
    background-color:  #b46424 ;
    padding: 0, 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    color: white;
}

.bg-aside{
    height: 800px;
    width: 100%;
    background-color: rgb(34, 54, 87);
    color: white;
    font-size: 10px;
}

.bg-contenido{
    height: 800px;
    width: 100%;
    background-color: rgb(3, 12, 34);
    color: white;
    font-size: 10px;
}

.bg-contenido li{
    font-size: 16px;
    text-align: left;
    margin-left: 5%;
}

.grid{
    display: grid;
    grid-template-columns: 64% auto;
    gap: 1rem;
}

.texto{
    padding: 15px 30px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: justify;
}

.img{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: solid 1px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    justify-items: center;
}

.img-aside{
    height: 100px;
    width: 100px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: solid 1px;
    justify-items: center;
}

.lista-aside{
    list-style: circle;
}


/* Selector ID */

#contenedor{
    height: 1000px;
    width: 900px;
    max-width: 0 auto;
    background-color: rgb(3, 12, 34);
    display: inline-block;
}

#fueraSeccion{
    height: 75%;
    width: 100%;
}

#fueraSeccion li{
    list-style: circle;
    margin-left: 20%;
    place-items: center;
}

#encabezado{
    height: 15%;
    font-size: 40px;
    padding: 0 50px;
    text-align: center;
    background-color: rgb(3, 12, 34);
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}

#menu{
    height: 5%;
    background-color: rgb(3, 12, 34);
}

#menu li{
    text-align: center;
    display: inline;
    padding: 55px 55px;
}

#pie{
    height: 10%;
    background-color: rgb(34, 54, 87);
    color: white;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* Selector de etiquetas */

ul{
    padding: 10px;
    font-size: 20px;
}

li{
    padding: 5px 5px;
    margin: 5px;
}

/* Selector de evento */

a:hover{
    color:crimson;
    text-decoration: none;
}
